body{
	background-image:linear-gradient(to right,#040b14, #2c2f3f) ;
    font-family: sans-serif;
}
.main-content{
	width: 50%;
	
	border-radius: 20px;
	box-shadow: 0 5px 5px #149ddd(90, 9, 145, 0.4);
	margin: 5em auto;
	display: flex;
}
.company__title{
    background-color: #2c2f3f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff; 
}
.company__info{
	background-color:#2c2f3f;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#2e2e2e;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color:#149ddd;
	box-shadow: 0 0 5px #040b14; 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 60%;
	border-radius: 30px;
	color:#040b14;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #2c2f3f;
	margin-top: 1.5em;
	margin-bottom: 1em;
    margin-left: 4em;
}
.btn:hover, .btn:focus{
background-image:linear-gradient(to right,#040b14, #2c2f3f);
	color:#fff;
}
